<div class="watchlist-shell">

  <h1>My watchlist</h1>

  <div class="grid" *ngIf="items.length; else empty">
    <div class="item" *ngFor="let item of items">
      <a [routerLink]="['/movies', item.movieId]" class="poster" [style.backgroundImage]="'url(' + (item.posterUrl || '') + ')'"></a>
      <div class="item-info">
        <a [routerLink]="['/movies', item.movieId]">{{ item.title }}</a>
        <button class="remove-btn" (click)="remove(item)">Remove</button>
      </div>
    </div>
  </div>

  <ng-template #empty>
    <p class="empty-message">Your watchlist is empty. Browse movies and add some favorites.</p>
    <a routerLink="/movies" class="btn-solid">Browse movies</a>
  </ng-template>

</div>
